#menu
  %a{:href => "/"}
    .logo
  .pure-menu.pure-menu-open
    .heading
      %a.pure-menu-heading{:href => "/"} WMU Computer Club
    %ul
      %li
        %a{:href => "/blog"} Blog
      %li
        %a{:href => "/PLAN"} PLAN
      %li
        %a{:href => "#"} Contact
