/* color variables */
$white: #FFF
$black: #000
$green: #CBE86B
$gblue: #1E0FBE
$blue: #0266C8
$cream: #F2E9E1
$offwhite: #EFEFEF
$offblack: #1C140D
$grey: #DFDFDF

/* color assignments */
$link-color: $blue
$background: $white

/* fonts */
$sans: 'Source Sans Pro'
$opensans: 'Open Sans'

/* variables */
$font: $opensans , sans-serif
$maxwidth: 768px
$break-large: 52em
$menu-background: #191818
$menu-color: #EEE
$menu-width: 10em
$menu-font-size: 16pt

html,
button,
input,
select,
textarea,
.pure-g [class *= "pure-u"],
.pure-g-r [class *= "pure-u"]
  font-family: $font

a
  color: $link-color
  text-decoration: none

ul
  list-style-type: none

#layout
  padding-left: 0
  @media screen and (min-width: $break-large)
    padding-left: $menu-width

.content
  background-color: $background
  margin-left: auto
  margin-right: auto
  display: block
  padding: 2em

.header
  margin: auto
  padding: 2em
  text-align: center
  max-width: $maxwidth

.header h1
  margin: 0 auto

#menu
  margin-left: -$menu-width
  position: fixed
  width: $menu-width
  top: 0
  bottom: 0
  overflow-y: auto
  overflow-x: hidden
  border-style: solid
  border-width: 1px
  border-color: $grey
  font-size: $menu-font-size
  @media screen and (min-width: $break-large)
    left: $menu-width

.pure-menu .pure-menu-heading
  margin-top: 0
  white-space: normal

.pure-menu.pure-menu-open
  border: none
  ul li
    border-bottom: 1px solid #B7B7B7

#menu, #menu a
  background-color: $menu-background
  color: $menu-color

.logo
  height: $menu-width
  background-color: $menu-background
  background-image: url('/images/seal-white.svg')
  background-size: 90%
  background-position: center
  background-repeat: no-repeat
