---
layout: default
title: Blog
---

.home
  %h1 Blog
  %ul.posts
    {% for post in site.posts %}
    %li
      %h2
        {{ post.date | date_to_string }}
        &raquo; <a href="{{ post.url }}">{{ post.title }}</a>
    {% endfor %}
