!!!
%html
  {% convert_include head.haml %}
  %body
    #layout
      {% convert_include menu.haml %}
      .pure-g-r
        .pure-u-2-3.content
          .header
            %h1
              {{ site.name }}
          {{ content }}
